<div class="container-md ">
    <div class="flex flex-col">
        <h2 class="text-2xl my-3">Projetos</h2>

        <div class="flex gap-4 flex-wrap">
            {{#if cards}}
                {{#each cards}}
                    <div class=" border border-black p-2 flex flex-col gap-1 min-w-48">
                        <span class="w-full flex justify-between border-b border-slate-600 text-lg"><a class=" hover:text-purple-500" href="/home/project/{{this._id}}">{{this.title}}</a> <button type="button" class="" data-bs-toggle="popover" data-bs-title="Compartilhe" data-bs-content="{{this._id}}" data-bs-custom-class="custom-popover"><i class="bi bi-link-45deg text-black"></i></button> </span>
                         <p class="text-sm text-muted">{{this.description}}</p>
                         <p class="text-sm text-muted">{{fdt this.dueDate}}</p>
                    </div>
                {{/each}}
            {{else}}
                <div>Nenhum projeto criado</div>
            {{/if}}
        </div>
    </div>
</div>

{{>floating}}
{{>infos}}
{{>projectModal}}
<script src="/js/components/popverse.js"></script>